{% extends "base.html" %}

{% block content %}
<h3>template</h3>
  <p>los templates son archivos html que podemos renderizar en el navegador</p>

<h4>herencia de archivos html</h4>
- para facilitar la gestion del contenido en los templates, evitar el codigo repetido, podemos usar plantillas bases para aplicar diversos cambios en un solo archivo.
<br> Acontinuacion presentamos la lista de pasos para hacer un herencia de html
<ul>
  <li>
    crear un archivo <code>base.html</code>

  </li>
  <li>
    crear un archivo .html que extienda de base
  </li>
</ul>

<h4>
  Ejemplos
</h4>
<a href="https://docs.djangoproject.com/en/4.0/ref/templates/language/#template-inheritance"> herecia templates</a>



{% endblock %}
